/* Styles de base */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles pour la navbar */
.navbar-nav .nav-item:nth-child(1) .nav-link {
    color: #00B0F0;
}

/* Applique les styles de transition et soulignement */
.navbar-nav .nav-link {
    position: relative;
    display: inline-block;
    padding-bottom: 5px; /* Ajout d'un espace en bas */
}

.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    width: 70%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #00B0F0;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.navbar-nav .nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Styles pour la navbar-brand */
.navbar-brand .logo {
    width: 150px;
    height: auto;
}

.navbar-text {
    font-weight: bold;
    color: #333;
    margin-right: 10px;
}
.navbar-text span {
    color: #007bff;
}

/* Media Query pour la taille du logo */
@media (min-width: 768px) {
    .navbar-brand .logo {
        width: 150px;
    }
}






