body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}
.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.search-form select, .search-form button {
    width: auto;
    border-radius: 20px;
}
.search-form button {
    border-radius: 20px;
}

/* Style pour l'image */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto -30px;
    max-width: 400px; 
}